Team.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Team" xmlns:tns="http://www.example.org/Team" elementFormDefault="qualified">

    <element name="Team" type="tns:team"></element>
    
    <complexType name="team">
    	<sequence>
    		<element name="teams" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    		<element name="city" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    		<element name="doco" type="int" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>